
{{!-- {{#link-to 'login'}}
  Go to Link
{{/link}} --}}

<nav>
</nav>
<div class="body" style="position: fixed; text-align: center; margin-left: 35%;">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/v55lWicUjXs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <div class="">
    {{#link-to "login"}}Ir a login{{/link-to}}
  </div>
</div>
